---
// Import Stylesheet
import '../styles/global.css';

// data source
const source = 'https://v2.jokeapi.dev/joke/Any?amount=10';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <!-- Normalize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

        <title>Daily Dose of Jokes</title>
    </head>
    <body>
        
        <header class="masthead">
            <h1 class="site-title">Daily Dose of Jokes</h1>
        </header>

        <main id="content" class="main-area">
			<ul class="cards">
				{data.jokes.map((item) => (
					<li class="jokes">
                        <a href="#" class="jokes">
                            
						<h2>{item.setup}</h2>
						<p>{item.delivery}</p>
                    </a>
					</li>
                ))}
            </ul>
        </main>
    </body>
</html>